body{
    margin: 0;
    padding: 0;
    background-color: #dde3e6c4;
    font-family: sans-serif;
}
h1{
    margin:0;
    margin-left: 10px;
    font-size: 25px;
    text-transform: uppercase;
}
.container{
    background-color:#5eaaa8;
    width:100%;
    height: 15vh;
    padding: 5px;
    position: sticky;
    top:0;
    z-index: 99;
}
 nav ul{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    margin-top: 10px;
}
 nav ul li:hover{
    cursor: pointer; 
    background-color: #d1b7d19c;

}
h2{
    margin-left: 10px;
}
.nav{
    width: 750px;
    height: auto;
    margin-top: 5%;
    display: flex;
    justify-content:space-between;
    margin-left: 200px;
    background-color: rgba(175, 202, 236, 0.87);
}
.text{
    margin-left: 10px;
}
img{
    width: 300px;
    height: 350px;
    margin: 30px;
    background-color: rgb(235, 197, 197);
    filter:grayscale(10%);
}
.footer{
    display:flex;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.74);
}
.footer-B{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    
}
.footer-B a{
    padding: 5px;
}
.footer-a{
    color: rgb(247, 243, 243);
    filter: grayscale(100%);
}
.footer-a p{
    font-size: 13px;
}
i{
    padding:10px;
    cursor: pointer;
    color:#fff;
}
i:hover{
    cursor: pointer;
}

footer p{
    margin: 20px 20px;
}




@media (max-width:420px)
        {
        body{
            margin: 0;
            padding: 0;

        }
        .container{
                width:100%;
                height: auto;
         }
         h1{
             font-size: 15px;
         }   
         h2{
             font-size: 15px;
         }
        nav ul{
            width: 100%;
            font-size: 12px;
            display: flex;
            padding: 0;
            justify-content: flex-start;
        }
        .nav{
            display: inline;
            width: 100%;
        }
        .nav ul{
            font-size: 10px;
        }
        .nav img{
            width: 50%;
            height: 20vh;
        }
        .text{
            width:100% ;
            font-size: 10px;
        }
        .footer{
            display: inline;
            width: 100%;
    
        }
        .footer-a{
            background-color: rgb(46, 45, 45);
        }
        .footer-a p{
            margin-left:10px ;
            font-size: 10px;
        }
        .footer-B{
            margin-top:20px ;
            background-color: black;
        }
}


