*{
    margin:0;
    padding: 0;
    font-family:Times New Roman;
}
body{
    margin: 0;
    padding: 0;
    background-color: #d4e4f3;
    font-family: sans-serif;
}
h1{
    margin:0;
    margin-left: 10px;
    text-transform: uppercase;
    color:black;
}
h2{
    text-transform: uppercase;
    margin-bottom: 10vh;
    margin-right: 450px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.container{
    margin: 0;
    height: 10vh;
    background:#5eaaa8;
    position: sticky;
    top:0;
    z-index: 99;
    box-shadow:1px 2px 4px 2px;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    margin-top: 10px;
}
ul li:hover{
    cursor: pointer; 
    background-color: #ada6ad9c;

}
 nav ul li:hover{
    cursor: pointer; 
    background-color: #d1b7d19c;

}
.active, .bav:hover{
    color:#0c0700;
    text-decoration: underline;
}

.Contact{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    background-color: rgba(192, 239, 253, 0.87);
    margin-bottom: 20px;

}
iframe{
    width: 100vh;
    height: 70vh;
    margin-bottom: 40vh;

}
.word{
    width: 100%;
    margin-left: 20px;
    margin-top: 50px;
}
.footer{
    display:flex;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.74);
}
.footer-B{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}
.footer-B a{
    padding: 5px;
    color: #fff;
}
.footer-a{
    color: rgb(247, 243, 243);
    filter: grayscale(100%);
}
.footer-a p{
    font-size: 13px;
    padding: 10px;
}





@media(max-width:520px){
    body{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;

    }
    .container{
            width:100%;
            height: auto;
     }
     h1{
         font-size: 15px;
     }   
     h2{
         font-size: 15px;
         width: 50%;
         margin-left: 10px;
         display:flex;
         justify-content: flex-start;
     }
    ul{
        font-size: 12px;
        display: flex;
        padding:0;
        justify-content: flex-start;
    }
    .Contact{
        display: inline;
    }
    iframe{
        width: 100%;
        margin-top: -1px;
    }
    .word{
        width: 100%;
        margin-left:5px;
        margin-bottom: 50px;
    }
    .nav{
        display: inline;
    }
    footer{
        background-color: rgb(126, 125, 125);
    }
    .footer{
        display: inline;
    }

}