*{
    margin:0;
    padding: 0;
    font-family:Times New Roman;
}
body{
    margin: 0;
    padding: 0;
    background-color: #d4e4f3;
    font-family: sans-serif;
}
h1{
    margin:0;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 25px;
}
h2{
    margin-left: 10px;
    margin-top: 20px;
}

.container{
    margin: 0;
    height: 10vh;
    background:#5eaaa8;
    position: sticky;
    top:0;
    z-index: 99;
    box-shadow:1px 2px 4px 2px;
}
ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:#000;
    text-transform: uppercase;
    margin-top: 10px;
}
ul li:hover{
    cursor: pointer; 
    background-color: #ada6ad9c;

}
 nav ul li:hover{
    cursor: pointer; 
    background-color: #d1b7d19c;

}
ul{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    margin-top: 10px;
}
ul li:hover{
    cursor: pointer; 
    background-color: #d1b7d19c;

}
.active, .bav:hover{
    color: #0c0700;
    text-decoration: underline;
}
.main{
    width: 70%;
    height: 45vh;
    justify-content: center;
    background-color:#797c7c49;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20vh;
}
.text h3{
    padding: 10px;
}
.text p{
    padding: 10px;
}

.footer{
    display:flex;
    justify-content: space-between;
    background-color: rgba(10, 10, 10, 0.74);
}
.footer-B{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}
.footer-B a{
    padding: 5px;
    color: #fff;
}
.footer-a{
    color: rgb(247, 243, 243);
    filter: grayscale(100%);
}
.footer-a p{
    font-size: 13px;
    padding: 10px;
}

i{
    padding:10px;
    cursor: pointer;
}
i:hover{
    cursor: pointer;
}
.footer-a p{
    margin-left:10px;
    font-size: 13px;
}

@media(max-width:520px){
    body{
        overflow-x: hidden;

    }
    .container{
            width:100%;
            height: auto;
     }
     h1{
         font-size: 15px;
     }   
     h2{
         font-size: 15px;
     }
    ul{
        font-size: 12px;
        display: flex;
        padding:0;
        justify-content: flex-start;
    }
    .main{
        margin-left: -3px;
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    .footer{
        width: 100%;
        display: inline;
        
    }
    footer{
        background-color:  rgb(126, 125, 125);
    }
}
