body{
    margin: 0;
    padding: 0;
    background-color: #d4e4f3;
    font-family: sans-serif;
}
h1{
    margin:0;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 25px;
}
h2{
    margin-left: 10px;
}
.container{
    background-color:#5eaaa8;
    width:100%;
    height: 17vh;
    position: sticky;
    top:0;
    z-index: 99;
}
ul{
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
ul li{
    padding: 10px;
}
ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    margin-top: 10px;
}
ul li:hover{
    cursor: pointer; 
    background-color: #d1b7d19c;

}
.main{
    width: 70%;
    height: 45vh;
    justify-content: center;
    background-color:#797c7c49;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20vh;
}
.text{
    padding: 10px;
}
.footer{
    display:flex;
    justify-content: space-between;
    background-color:rgba(10, 10, 10, 0.74);
}
.footer-B{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.footer-a{
    color: #ffffff;
    filter: grayscale(100%);
}
i{
    padding:10px;
    cursor: pointer;
}
i:hover{
    cursor: pointer;
}
.footer-a p{
    margin-left:10px;
}

@media(max-width:600px){
    body{
        margin: 0;
        padding: 0;

    }
    .container{
            width:100%;
            height: auto;
     }
     h1{
         font-size: 15px;
     }   
     h2{
         font-size: 15px;
     }
    ul{
        font-size: 12px;
        display: flex;
        padding:0;
        justify-content: flex-start;
    }
    .main{
        margin-left: -3px;
        width: 100%;
        margin-top: 30px;
    }
    .footer{
        width: 100%;
    }
}
