<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact page</title>
    <link rel="shortcut icon" href="images/1.png" type="image/x-icon">
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>
    <div class="container">
        <nav>
            <h1>Project Manager</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about page.html">About Me</a></li>
                <li><a href="Experience.html">Experience</a></li>
                <li><a href="Contact.page.html">contact</a></li>
            </ul>
        </nav>
    </div>
    <h2>Contact Us</h2>
    <div class="Contact">
        <div class="map" >
            <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3909.013908283856!2d104.88089491428757!3d11.550859791798826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310951add5e2cd81%3A0x171e0b69c7c6f7ba!2sPasserelles%20Num%C3%A9riques%20Cambodia%20(PNC)!5e0!3m2!1sen!2skh!4v1608124072615!5m2!1sen!2skh"
            width="500" height="450" frameborder="0" style="border:0;" alt=""></iframe>
        </div>
        <div class="word">
            <p><hr>Phone: 095 492 181/097 512 44 84<hr></p>
            <p><hr>Email: davy.bun@student.passerellesnumeriques.org</hr></p>
            <p><hr>Address: Street 371 Tropeang Chhouk Market, Sangkat Tek Thla, Khan Sen Sok, Cambodia<hr></p>
        </div>
    </div>   
<div>
<footer>
    <div class="nav">
        <div class="share">
            <p>Phone: 095 49 21 81/097 512 44 84</p>
            <p>Email: davy.bun@student.passerellesnumeriques.org</p>
            <p>Address: Street 371 Tropeang Chhouk Market, Sangkat Tek Thla, Khan Sen Sok, Cambodia</p>
        </div>
        <div class="Link">
            <a href="">LinkedIn</a>
            <a href="">Fackbook</a>
            <a href="">Twitter</a>
        </div>
    </div>
</footer>
</div>